# Python bytecode cache
__pycache__/
*.py[cod]

# SQLite database files
*.db

# Logs and reports
*.log
*.csv
*.xlsx
*.pdf
log.json
report.html
report.xlsx
report.pdf
waf_bypass_log.txt

# Passwords or sensitive files
passwords.txt

# Python virtual environments
venv/
.env

# VSCode and system files
.vscode/
.DS_Store
Thumbs.db

# Custom user folders
ali.ser94/
scan_results.json

