# Python cache
__pycache__/
*.py[cod]

# Database
*.db

# Environment
venv/
.env

# Reports
report.xlsx
report.pdf
report.html
*.log
*.csv

# Sensitive files
passwords.txt
log.json

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Custom folders
ali.ser94/
